port: 3000
base_url: ''
# secret word for creating token
secret: ''
# where to write master pid when calling bin/zizanie start
pid_file: ''
mongodb:
  db_name: 'zizanie'
  host: '127.0.0.1'
facebook:
  appId: ''
  secret: ''
mail:
  host: ''
  port: ''
  sender: ''
  username: ''
  password: ''
