h1 Compte

h2 Facebook

form(method="post", action="/user/account")
  fieldset
    legend Associer votre compte facebook
    label Associer votre compte facebook avec votre compte pazzis.com, vous pourrez ensuite vous connecter avec votre compte facebook.
    p
      fb:login-button.hide_if_facebook_connected(show-faces="false")
    input(type="submit", value="Supprimer")
