!!! 5
html(lang="fr")
  head
    link(rel="stylesheet", type="text/css", href="/css/zizanie.css")
    title Pazzis.com
  body
    header
      h1 Pazzis.com

    #sidebar
      form(method="post", action="/user/sign_in")
        fieldset
          p
            fb:login-button.facebook-login(perms="email", show-faces="false")
          label Nom d'utilisateur
            input(type="text", name="username", required)
          label Mot de passe
            input(type="password", name="password", required)
          input(type="submit", value="Connexion")

    body!= body

    footer
      p © 2001-2010 Pazzis.com

    div#fb-root

    script(type="text/javascript", src="/js/modernizr-1.6.min.js")
    script(type="text/javascript", src="/js/jquery-1.4.4.min.js")
    script(type="text/javascript", src="/js/underscore-min.js")
    script(type="text/javascript", src="/js/backbone-min.js")
    script(type="text/javascript", src="/js/handlebars.js")
    script(type="text/javascript", src="/js/zizanie.js")
    script(type="text/javascript", src="http://connect.facebook.net/fr_FR/all.js")
