#main
  p Vous avez perdu votre mot de passe ? Pas de problèmes, rentrez votre identifiant et vous recevrez un email avec les informations nécessaires.
  form(method="post", action="/user/lost-password")
    input(type="text", name="username")
    input(type="submit", value="envoyer")
